.Search {
  position: relative;
  .searchContainer {
    display: flex;
    align-items: center;

    .searchIcon {
      position: absolute;
      left: 10px;
      color: white;
    }

    input {
      width: clamp(140px, 12vw, 187px);
      height: clamp(25px, 4vw, 35px);
      padding-left: 40px;
      border-radius: 30px;
      border: none;
      background: #ef272c;
      color: white;
      font-size: 14px;

      &::placeholder {
        color: white;
        font-size: clamp(10px, 1.7vw, 16px);
        opacity: 1;
      }
    }
  }
  .search_result {
    position: absolute;
    width: 140px;
    top: 53px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 10px;
    background: white;
    color: black;
    .search_item {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid rgb(215, 205, 205);
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      padding-inline: 5px;
      font-family: League_Spartan;
      font-weight: 400;
      &:hover {
        background: rgb(223, 220, 220);
      }
      .item_price {
        font-family: League_Spartan;
        font-weight: 500;
        color: #ef272c;
      }
    }
  }
}
