.Footer {
  background: rgb(18, 18, 18);
  .footer {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    .footer_content {
      width: clamp(300px, 74vw, 1180px);
      border-bottom: 1px solid #fff;
      padding-bottom: 35px;
      display: flex;
      align-items: center;
      height: auto;
      justify-content: space-between;
      h1 {
        font-family: Crimson_Text;
        color: rgb(255, 255, 255);
        font-size: clamp(20px, 2vw, 28px);
        font-weight: 600;
        line-height: 43px;
        letter-spacing: 0%;
        text-align: left;
      }
      .footer_nav {
        display: flex;
        align-items: center;
        gap: 65px;
        a {
          color: rgb(255, 255, 255);
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0%;
          text-decoration: none;
        }
      }
      .footer__icons {
        display: flex;
        align-items: center;
        gap: 30px;
        margin-top: 10px;
        cursor: pointer;

        svg {
          fill: rgb(255, 255, 255);
          transition: fill 0.3s;
          font-size: 28px;
        }
      }
    }

    &_study {
      margin-top: 20px;
      color: rgb(255, 255, 255);
      font-family: Montserrat;
      font-size: 13px;
      font-weight: 100;
      line-height: 15px;
      letter-spacing: 0%;
      text-align: left;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 900px) {
  .Footer {
    .footer {
      .footer_content {
        .footer_nav {
          display: none;
        }
      }
    }
  }
}
