.MainMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    h3 {
      color: rgb(255, 255, 255);
      font-family: Shalimar;
      font-size: clamp(24px, 3vw, 40px);
      font-weight: 400;
      line-height: clamp(37px, 4vw, 61px);
      line-height: 49px;
      letter-spacing: 0%;
      text-align: left;
    }
  }
  h1 {
    color: rgb(255, 255, 255);
    font-family: Crimson_Text;
    font-size: clamp(24px, 5vw, 40px);
    line-height: clamp(37px, 4vw, 61px);
    font-weight: 600;
    letter-spacing: 0%;
    text-align: left;
  }
  .blocks {
    display: flex;
    align-items: start;
    gap: 100px;
    justify-content: center;
    margin-top: clamp(35px, 4vw, 64px);
    .block1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: clamp(300px, 30vw, 400px);
      background: rgb(31, 39, 49);
      padding-block: 10px;
      .buttons {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: transparent;
        position: relative;
        .button_text {
          border: none;
          width: 230px;
          background: transparent;
          border-bottom: 0.4px solid rgb(188, 177, 177);
          padding-block: 20px;
          color: rgb(255, 255, 255);
          font-family: Crimson_Text;
          font-size: clamp(20px, 2vw, 24px);
          font-weight: 600;
          line-height: 37px;
          letter-spacing: 0%;
          text-align: center;
          cursor: pointer;
          &.active {
            z-index: 1;
          }
        }
        .button_active {
          position: absolute;
          top: 0;
          left: 0;
          background: rgb(239, 39, 44);
          width: 100%;
          height: 100%;
        }
        .button_line {
          position: absolute;
          width: 60px;
          right: -30;
          height: 2;
          z-index: 2;
          background: #fff;
        }
      }
    }
    .block2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: clamp(300px, 38vw, 600px);
      padding: 10px;
      gap: 46px;
      .menu_item_box {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 13px;
        .menu_item {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .item_name {
            color: rgb(255, 255, 255);
            font-family: Crimson_Text;
            font-size: 20px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0%;
            text-align: left;
          }
          .item_price {
            color: rgb(239, 39, 44);
            font-family: Crimson_Text;
            font-size: 20px;
            font-weight: 600;
            line-height: 31px;
            letter-spacing: 0%;
            text-align: left;
          }
        }
        .item_description {
          max-width: 400px;
          color: rgb(255, 255, 255);
          font-family: League_Spartan;
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          letter-spacing: 0%;
          text-align: left;
        }
      }
    }
  }
  .view_all_button {
    position: relative;
    width: 220px;
    height: 55px;
    margin-top: 61px;
    display: flex;
    align-items: center;

    .button {
      display: flex;
      align-items: center;
      gap: 12px;
      background: transparent;
      width: 100%;
      height: 42px;
      border: 1.6px solid rgb(239, 39, 44);
      justify-content: center;
      color: rgb(255, 255, 255);
      font-family: Spartan, sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;

      .button_icon {
        color: #fff;
      }
    }

    .button_line_1,
    .button_line_2 {
      position: absolute;
      background: rgb(239, 39, 44);
      width: 163px;
      height: 1.6px;
      transition: all 0.3s ease-in-out;
    }
    .button_line_1 {
      top: 0;
      right: 0;
    }

    .button_line_2 {
      bottom: 0;
      left: 0;
    }
  }
}

@media (max-width: 780px) {
  .MainMenu {
    .blocks {
      .block1 {
        width: clamp(200px, 70vw, 400px);
        .buttons {
          .button_line {
            display: none;
          }
        }
      }
      .block2 {
        display: none;
      }
    }
  }
  .view_all_button {
    margin-top: 41px;
  }
}
